.recipe{
    width: 20rem;
    height: 12rem;
    padding: 1rem;
    background: #c70039;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 4px 4px 12px black;
    text-shadow: 1px 1px 1px black;
    color: white;
    text-align: center;
}

.show-recipe-btn{
    z-index: 0;
    position: relative;
    bottom: 0;
    right: -8rem;
    border: none;
    width: 4rem;
    height: 1.5rem;
    color: white;
    background: #ccc;
}

.show-recipe-btn:hover{
    background: white;
    box-shadow: 0 0 2rem yellow;
    color: #aaa;
}

.recipe-name{
    margin: 1rem 0;
    text-align: center;
}

.modal-recipe-area{
    background: whitesmoke;
    margin: 2rem;
    padding: 0 2rem;
    border-radius: 5px;
    width: 40vw;
    box-shadow: 2px 2px 12px black;
}

.recipe-image{
    width: 35vw;
    height: 35vw;
    margin: auto 0;
    border-radius: 5px;
    box-shadow: 2px 2px 12px black;
}

.delete-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: white;
    border: none;
    border-radius: 0.3rem;
    width: 4rem;
    height: 2rem;
    background: black;
}

.delete-btn:hover{
    background: #222;
}

