.blur {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.750);
    position: absolute;
    top: 0;
    left: 0;

}

.modal {
    width: 95vw;
    height: 95vh;
    background: whitesmoke;
    position: absolute;
    margin-left: 2.5vw;
    margin-top: 2.5vh;
}

.modal-btn {
    margin: 1rem;
    right: 0;
    position: absolute;
    border: 2px solid red;
    border-radius: 0.3rem;
    padding: 0.2rem 0.3rem;
    background: red;
    color: white;
}

.modal-btn:hover{
    background: rgb(206, 14, 14);
    border: 2px solid rgb(206, 14, 14);
}

.modal-input{
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.5rem;
}